PORT=3000
DATABASE_URL=postgresql://neondb_owner:npg_yiO7dG3SDJzM@ep-red-fog-ahetn5yg-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
BASE_URL=http://localhost:3000
NODE_ENV=development
